<div ng-cloak>
	<h1 class="three-dee">Hitelfigyelő</h1>
	<div class="row quoteContainer">
		<span class="quote pull-right">&nbsp;</span>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h3>Széchenyi Vállalkozásfejlesztési Program</h3>
			<hr/>
			<p>
A magyar kormány megalkotta a Széchenyi Vállalkozásfejlesztési Programot.
Ebben a munkában a Gazdasági és Közlekedési Minisztérium egész tevékenységét három vezérlő elv, az egyenlő hozzáférés, az átláthatóság és a tisztességes verseny teszi ki.
Ennek jegyében született meg a Széchenyi Vállalkozásfejlesztési Program.
			</p>
			<div>
				<a class="btn btn-primary" href="javascript:;" data-target="#szechenyiModal" data-toggle="modal">Részletek</a>
			</div>
		</div>
		<div class="col-sm-6">
			<h3>Az új mikrohitelprogram</h3>
			<hr/>
			<p>
A mikrohitelprogram 2003-ban átalakított formában újraindul. Ezen túl a kereskedelmi bankok nyújtják a vállalkozásoknak ezt a hitelfajtát. A mikrohitelprogram keretében kamattámogatással, garanciavállalással biztosítanak olcsóbb hitelt a kisebb vállalkozások számára. 
			</p>
		</div>
	</div>
<!-- Modal -->
<div>
<div class="modal fade" id="szechenyiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Széchenyi Vállalkozásfejlesztési Program</h4>
      </div>
      <div class="modal-body">
      	<p>
			A Széchenyi Vállalkozásfejlesztési Program továbblép az alapvetően egyetlen eszközre - a vissza nem térítendő támogatásokra - építő Széchenyi-terven, s lehetővé teszi a kis- és középvállalkozások számára, hogy hozzáférjenek a tőkepiac eszközeihez.
			A Széchenyi Vállalkozásfejlesztési Program célja, hogy: 
      	</p>
      	<ul>
      		<li>Elősegítse a növekedésben lévő kis- és középvállalkozások további fejlődését, a hazai és külföldi piacokon történő terjeszkedését</li>
      		<li>Gazdaságpolitikai támogatást biztosítson a stagnáló, de életképes kis- és középvállalkozásoknak a helytálláshoz és a működéshez az Európai Unió egységes piacán</li>      		
      	</ul>
      	<p>
Új hangsúlyok a vállalkozások fejlesztésében
A Széchenyi Vállalkozásfejlesztési Program középtávú (a 2003-2006. közötti időszakra vonatkozó), az Európai Unió előírásainak megfelelő kis- és középvállalkozás-fejlesztési koncepció, amely a támogatási eszközök sokszínű, széles skáláját kínálja a vállalkozásoknak. 
      	</p>
      	<p>
A vissza nem térítendő támogatások mellett megjelennek új hitel-, garancia- és tőkebefektetési konstrukciók, visszatérítendő támogatások, s hangsúlyt kap a szolgáltatás- és hálózatfejlesztés is.
A Széchenyi Vállalkozásfejlesztési Program összhangban áll a Kisvállalkozások Európai Chartájában megfogalmazott követelményekkel, valamint az Okos Magyarország elnevezésű - főként nagyvállalkozásoknak szóló - program befektetéseket ösztönző politikájával. 
      	</p>
      	<p>
Kiszámíthatóság: az adó- és adminisztrációs terhek csökkentésével hosszú távra kiszámítható gazdasági környezet kialakítása a kis- és középvállalkozások számára.       	
      	</p>
      	<p>
Versenyképesség és teljesítménynövelés: a kis- és középvállalkozások versenyképességének növelése, támogatása.
      	</p>
      	<p>
Gyorsuló alkalmazkodás: a kis- és középvállalkozások felkészítése az európai uniós csatlakozásra, általános és szakmai ismeretek átadása. 
      	</p>
      	<p>
Esélyteremtés: a hátrányos helyzetben lévő vagy hátrányos térségben működő vállalkozások felzárkóztatása, egyenlő esélyek biztosítása. 
      	</p>
      	<p>
Európai uniós pályázatok: a kis- és középvállalkozások felkészítése az európai uniós támogatások igénybevételére. 
      	</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Bezár</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
