<div ng-cloak>
	<h1 class="three-dee">Sy-könyvvizsgálat</h1>
	<div class="quoteContainer row">
		<span class="quote pull-right" textillate data-in-effect="fadeInDownBig" >Amikor fiatal voltam, azt hittem, hogy a pénz a legfontosabb dolog a világon. Most, hogy felnőttem, már tudom: így van. (Oscar Wilde)</span>
	</div>
	<p>
A megbízóinkat a megszerzett készségeinkkel (okleveles vállalkozási, pénzintézeti könyvvizsgáló) abban is támogatjuk, hogy igény szerint kielemezzük/SWOT analízis/ a cég fejlődését, és ismertetjük a gátló tényezőket. A hiteles elemzés nagyban segíti a cégeket a további  fejlődésben (tőkeemelés, ingatlan felértékelés, pályázatkészítés aktualitásai, fedezetvizsgálat, követelésbehajtás szükségessége, stb.)	
	</p>
	<p>
Ügyfeleinknek díjmentes tanácsadás megvalósításával  nyújtjuk a hitel- és pályázati készség bemérését, a Széchényi kártyához való hozzájutást, és adott esetben segítünk a sikeres felkészüléshez. Az együttműködésünk feltétele a törvény szerint elvárható követelmények megléte (Számviteli Politika, gépesített számviteli nyilvántartás, analitikai egyeztetések megfelelő megoldása). Az árképzésünk korrekt módon az árbevétel adatok nagyságrendje alapján történik. 	
	</p>
</div>
