<div ng-cloak>
	<h1 class="three-dee">Könyvvizsgálat, a könyvelés ellenőrzése</h1>
	<div class="quoteContainer row">
		<span class="quote pull-right" textillate data-in-effect="fadeInDownBig" >Amikor fiatal voltam, azt hittem, hogy a pénz a legfontosabb dolog a világon. Most, hogy felnőttem, már tudom: így van. (Oscar Wilde)</span>
	</div>
	<p>
Ebben a feladatkörben, vizsgálatokat és ellenőrzéseket végezhetünk a könyvelés helyességét illetően, a jogszabály szellemiségének teljes körű alkalmazására való tekintettel.
	</p>
	<p>
A könyvvizsgálat során már nem csak a könyvelés hitelességét vizsgáljuk, hanem munkánk során jelezzük észrevételeinket, és előnyösebb gazdasági megoldásokat is javasolunk. Speciális ismereteink - az ingatlanfejlesztés, hitelkérelem, pályázati tevékenység, cégmenedzsment- révén rámutatunk a cég életében problematikusnak jelentkező, pénzügyi csapdákat tartalmazó kérdések megoldási lehetőségeire a cég dinamikus fejlődése érdekében. 
	</p>
	<p>
Igény alapján javaslatokat és tanácsadást is nyújthatunk. A könyvvizsgálati tevékenységet a hazánkban érvényes nemzeti, illetve a nemzetközi standardok és az idevonatkozó törvények alapján végezzük. A könyvvizsgálat vállalása esetén a teljes körű pénzügyi tanácsadási tevékenységet egy időben -az összeférhetetlenség miatt-nem vállalhatjuk fel.
	</p>
</div>
