<div ng-cloak>
	<h1 class="three-dee">Pénzügyi, számviteli- és üzletviteli tanácsadás</h1>
	<div class="row quoteContainer">
		<span class="quote pull-right" textillate data-in-effect="fadeInDownBig" >A tanácsadók mindig azon vannak, hogy megtedd azt a bizonyos lépést előre.</span>
	</div>
	<p>
Napjainkban minden vállalkozás számára létkérdés azoknak a versenyelőnyöknek a megtalálása, amelyek biztosíthatják a sikert a vezető piaci pozíciók elérésében.
Mi összekapcsoljuk a kis- és középvállalkozók tudatosan megtervezett jövőképének, és a pályázati programok felhívásaiban rejlő lehetőségeket, és bemutatjuk, hogy ezek együttesen megteremtik a vállalkozások töretlen és dinamikus fejlődését. 
	</p>
	<p class="important">
Éljenek a lehetőségeikkel. 
	</p>
	<p>
A versenyelőnyt biztosító lehetőségeket a vállalati gazdálkodás minden területén ki kell használni.
A gazdálkodási folyamatok optimális vitele érdekében folyamatos pénzügyi tanácsadói hátteret biztosíthatunk, amelynek keretében rámutatunk a cég soros megoldandó feladataira. A gazdasági növekedés és a belső egyensúly kérdései, a finanszírozás lehetséges formái, és a stratégiai tervezés erősítése visszatérően központi témák a társaság életében. A hitelkérelem esetén egy határozott hitel-konstrukció kialakítása, a bankgarancia megkérése, illetve az aktualitása mérlegtételeket formáló tranzakcióként hatnak, miközben döntéseik milyensége jelentősen befolyásolja költségeiket. 
	</p>
	<p>
A gazdasági növekedés és a belső egyensúly állandóan visszatérő, visszacsatoló kérdésekké váltak. A tanácsadói szerepvállalásunk során érinthetjük a szerződéskötési problémákat, a pénzügyi csapdák feltérképezését, egy feladati tételsorban a rangsorolás megállapítását, erőforrások allokálását vállaljuk. Igény estén számviteli tanácsadást is nyújtunk, és folyamatosan figyelemmel kísérhetjük a hitelképességet is. Részletesen elemezhetjük, vizsgálhatjuk a számos felmerülő stratégiai-taktikai gazdasági kérdés kört, javaslatot téve a megoldásukra. A társasági kockázatok visszaszorítása érdekében a gyors döntés-előkészítői tanácsadói-szolgálatunk a sürgős, illetve a speciális esetekben (projektfinanszírozás, hitel szükségesség, tőkeemelés, cégvásárlás, cégértékelés, ingatlan értékhelyesbítés, stb.) -kiemelt gazdasági problémák közül a halaszthatatlan megoldási igényű problémakörre koncentrálva- támogatja a vezetést.
A pályázati képesség esetleges hiányát időben jelezzük a cég felé, ez esetben vállaljuk a vállalkozás felkészítését, annak gyors megszerzésére. 
	</p>
	<p>
Tanácsadóként a mérlegbeszámoló adatai, és a célirányos felvetéseinkre adott válaszok alapján igen rövid időn belül (1-2 nap) el tudjuk végezni a cég előzetes pénzügyi vizsgálatát (EPV), és megállapítjuk a cég hitel- és pályázati képességét. 
	</p>
	<p class="important">
Velünk hatost dobhatnak. 
	</p>
</div>
