<div ng-cloak>
	<h1 class="three-dee">A banki hitelígérvény megszerzése, a hitelkérelem elkészítése</h1>
	<div class="quoteContainer row">
		<span class="quote pull-right" textillate data-in-effect="fadeInDownBig" >A pénz olyan, mint a láb vagy kéz.<br/>Vagy használod, vagy elveszíted. (Henry Ford)</span>
	</div>
	<p>
	Cégünk a hitelkérelem előkészítésének feladatait komplexen értelmezi. Egyrészt a banki kapcsolatok felvétele előtt elkészítjük (együttműködve a társaság gazdasági vezetésével) a Megbízó cég hitelképességéhez leginkább illeszthető mérlegbeszámolói megfeleltetést. A pénzügyi tanácsadóink erre vonatkozó igény esetén vállalják az ügyvezetés banki tárgyaláson való felkészítését, illetve képviselhetjük is a céget a banki tárgyalásokon. Cégünk jól bevált, hatékony módszerek alapján feltérképezi a cég számára a legmegfelelőbb hitel konstrukciókat (mini, midi, Európa-hitel, faktoring és lízingügyletek). Közreműködésünkkel jelentős kamatkedvezmény érhető el, és a bank is elismeri a szerepvállalásunkat.
	</p>
	<p>
	A cég igénye alapján összeállítjuk a hitelkérelmet, elkészíthetjük a cég arculatát jobban tükröző üzleti- fejlesztési tervet is, különös tekintettel a bank által igényelt tervadatokra és főbb mutatókra. A hitelkérelem összeállítása előtt egyeztetést, felmérést (interjú, cégátvilágítás) végzünk és a cég vezetésével együttműködve, meghatározzuk a témakörben teendő soros feladatokat. A szerepvállalásunk fő előnye, hogy a céget mindig a pozitívumokkal és erősségekkel egységben mutatjuk be. A hitelügyleteink fő sikere, hogy lebonyolításuk előtt elvégezzük a cég -belső- hitelminősítését, és a teendőket jelezzük a cég felé, és javaslatokat tesszünk a fő változtatásokra. 
	</p>
	<p>
	<b>Mi sikerre visszük hitelkérelmüket, ahogy eddig is tettük.</b> 
	</p>
</div>
