<div ng-cloak>
	<h1 class="three-dee">Vagyon- és üzletrész értékbecslés</h1>
	<div class="row quoteContainer">
		<span>&nbsp;</span>
	</div>
	<p>
A könyvvizsgálati munka szerves részét képezi a társasági vagyon, üzletrész értékének becslése, pontosító meghatározása. Ezen feladatokat az ingatlanszakértői képzettséggel is rendelkező könyvvizsgálói munkatársaink végzik. Az értékbecslést általában az ingatlan értékhelyesbítési ügyletek, ingatlanvásárlási szándék, illetve az üzletrészeladása vagy vételi ügyletek előtt célszerű a szakemberekkel elvégeztetni. Jelentős fontosságú stratégiai kérdés, hogy a társaságok mikor végezzék el az ingatlanjaik célszerű értékhelyesbítését is. 
	</p>
	<p class="important">
Mi tudjuk a választ, és megosztjuk Önökkel.
	</p>
</div>
