<div ng-cloak>
	<h1 class="three-dee"><span>Sy&nbsp;</span>Cégértékbecslés</h1>
	<div class="quoteContainer row">
		<span class="quote pull-right" textillate data-in-effect="fadeInDownBig" >A pénz olyan, mint a láb vagy kéz.<br/>Vagy használod, vagy elveszíted. (Henry Ford)</span>
	</div>
	<p>
Vállaljuk (névtelenségi hitelesség megőrzésével) a szétváló(eladó) cégek- és üzletrészek szakmai értékbecslését, segítve a számviteli rendezést (hites könyv szerinti érték megállapítása és tőkerendezés), a kívánatos egyedi célok elérését. 	</p>
</div>
