<div ng-cloak>
	<h1 class="three-dee"><span>Sy&nbsp;</span>Cégklinika</h1>
	<div class="quoteContainer row">
		<span class="quote pull-right" textillate data-in-effect="fadeInDownBig" >A pénz olyan, mint a láb vagy kéz.<br/>Vagy használod, vagy elveszíted. (Henry Ford)</span>
	</div>
	<p>
	Mennyivel tud többet nyújtani a vetélytársainál?
	</p>
	<p>
Az igények szerint ki tudjuk értékelni a cég jelenlegi helyzetét, erősségeit és gyengeségeit, a kockázatokat, és a lehetőségeit. Időben tudjuk jelezni a felmerülő problémákat.<br/>
Az igények alapján teszünk befektetési javaslatot.</br>
Amikor kiskoromban egy kis zsebpénzt kaptam édesapámtól, az örömön kívül a pénz egy részét azonnal félretettem jobb időkre, tartaléknak. A korszerű pénzkezelés ma is a tartalékolási készség meglétén, a pénz célszerű kamatoztatásán áll vagy bukik. A költekező magatartás rossz szokás, a spórolás eredménye a vagyonosodás, és az anyagi biztonság létrejötte. Bármikor képesek vagyunk a pénzbefektetési igényét javaslatainkkal megtámogatni. Amikor a tőkepiaci felügyeletnél bankfelügyelőként dolgoztam, a legnagyobb bankok is az alapvető ősi módszert alkalmazták a tartalékoláshoz.) Pénzügyi szakértőként  támogathatjuk a vállalkozásokat  a jó vagyonkezelésben. Egy csomagban kezeljük a hitelkérelem- és a pályázat összeállítási igényt, időben tudjuk jelezni, amikor az ingatlanvagyon felértékelése időszerűvé válik.
	</p>
</div>
