<div ng-cloak>
	<h1 class="three-dee">Cégalapítás, cégátalakítás, cégátvilágítás</h1>
	<div class="row quoteContainer">
		<span class="quote pull-right" textillate data-in-effect="fadeInDownBig" >Az üzlet kemény dió, válasszon hozzá megfelelő társat. (Synergy)</span>
	</div>
	<p>
Igény esetén részletesen átvilágíthatjuk a társaságok gazdasági tevékenységét. A cégátvilágítás során a gazdálkodási folyamataik ellentmondásaira, a legfontosabb összefüggésekre felhívhatjuk a figyelmet. 
	</p>
	<p>
Ehhez ma már nem elég egy jó célrendszer és egy megfelelő szervezeti struktúra kialakítása, hanem az is szükséges, hogy a vállalati folyamatok optimálisan működjenek. A jól kialakított szervezet és az optimális folyamatok kézbentartását, a célok és a megvalósítás közötti összhangot korszerű irányítási rendszerek biztosíthatják a stratégiai elemzéstől és tervezéstől egészen a teljesítményértékelésig és a visszacsatolásig. 
	</p>
	<p>
Könyvszakértőként, pénzügyi tanácsadóként a gazdálkodási és könyvelési folyamatokat esetenként vagy folyamatosan ellenőrizhetjük. A tevékenységünk során azt is jelezzük, ha átmenetileg problémát vélünk felfedezni a cég gazdálkodásában, különösen fontosnak tartjuk, hogy megfelelő legyen a követelések és kötelezettségek összhangja, valamint a vállalkozás hitel- és pályázati képessége. 
	</p>
	<p>
A cégátvilágítási tevékenységünket különösen a cég, illetve az üzletrész vásárlása esetén ajánljuk. Szolgáltatásunk igénybevétele indokolt akkor is, amikor a cég beruházói, illetve befektetői pozícióba kerül és belső forrásai kiegészítésére külső forrásként közép vagy hosszú távra hitelt kíván felvenni, illetve pályázati tevékenység révén nagyobb összegű támogatás megszerzését tűzte ki célul. 
	</p>
	<p>
Az optimálisabb eredmény és a nagyobb hatásfok biztosítható a cégünk szolgáltatásainak igénybevételével.
	</p>
</div>
