<div ng-cloak>
	<h1 class="three-dee"><span>Sy&nbsp;</span>Bemutatkozás</h1>
	<div class="row quoteContainer">
		<span class="quote pull-right" textillate data-in-effect="fadeInDownBig" >Pályázattal folyamatosan beruházni</span>
	</div>
		
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" href="javascript:;">
        	Rövid Cégtörténet
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
	A” pályázattal folyamatosan beruházni” jegyében az a célunk, hogy bemutathassuk, hogy a cégek jövőképei lehetőséget adnak a töretlen és dinamikus fejlődésükre.</br>
	A Synergy-KLM Pénzügyi Tanácsadó Kft. közel 15 éve áll a kis- és középvállalkozók szolgálatában az alábbi tevékenységeivel:
	<ul>
		<li>cégklinika</li>
		<li>cégértékbecslés</li>
		<li>hitelügyintézés</li>
		<li>könyvvizsgálat</li>
		<li>pályázatkészítési munkák</li>
		<li>pénzügyi tanácsadás (általános vállalkozási tanácsadás) tevékenységeivel</li>
	</ul>
A hitelkérelmeink, pályázataink (10-150 millió Ft kategóriában) teljes mértékben befutottak, jelentős hitelt, illetve vissza nem térítendő támogatást biztosítottak a mikro,- és kisvállalkozásoknak. Sikerünk záloga egyrészt, az előkészítési fázisban elvégzett hitel- és pályázati képesség pontos bemérése, vizsgálata (előzetes pénzügyi vizsgálat, az EPV teszt) biztosította (cégünk specialitása), másrészt az időben megszerzett készségek(EU-tanácsadói-BKIK; multiplikátori pályázatkészítő készségek.
A pályázatírás, a pályázás az elmúlt több mint egy évtized során lassan életünk részévé vált.
A felerősödött versenyszituációban a vállalatok arra kényszerülnek, hogy komplex problémákat és feladatokat egyre gyorsabban és minőségileg magas szinten oldjanak meg. Az egyre összetettebb projektek – az átlátható, stratégiára épülő projektmenedzsment módszertanok ismeretén túlmenően – magas szintű vezetési ismereteket is megkövetelnek. A gyakorlat bebizonyította, hogy ezeknek a kihívásoknak az érdemi megvalósítása elsősorban korszerűen megszervezett és professzionálisan kivitelezett projektmenedzsment keretei között lehetséges. A cégünk előnye, egyrészt, hogy mind a pályázati, mind a hitel lehetőségek feltárásától a projektfinanszírozás felkutatása és biztosításán keresztül a pályázat, és hitelkérelem készítés valamennyi pénzügyi buktatójának leküzdésében is partnerek vagyunk, másrészt, hogy a munkánk során jelentős hitelintézeti, projektfinanszírozási menedzselési tapasztalatokat szereztünk, és jó kapcsolatokat alakítottunk ki.
Amikor megismerjük a cégeket, akkor a ”pályázattal folyamatosan beruházni” gazdaságfilozófiával az a célunk, hogy bemutathassuk, hogy a cégek jövőképei lehetőséget adnak a töretlen és dinamikus fejlődésükre.

    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" href="javascript:;">
        Főbb adataink
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body">
      	<div class="row">
  			<label class="col-sm-4">A társaság neve:</label>
  			<span class="col-sm-8">Synergy-KLM Pénzügyi Tanácsadó Kft.</span>
		</div>
      	<div class="row">
  			<label class="col-sm-4">Rövid név:</label>
  			<span class="col-sm-8">Synergy-KLM Kft.</span>
		</div>
      	<div class="row">
  			<label class="col-sm-4">Székhely:</label>
  			<span class="col-sm-8">1119 Budapest, Pajkos u. 32.</span>
		</div>
      	<div class="row">
  			<label class="col-sm-4">Ügyvezető:</label>
  			<span class="col-sm-8">Kálmán László</span>
		</div>
      	<div class="row">
  			<label class="col-sm-4">Adószám:</label>
  			<span class="col-sm-8">12393923-3-43</span>
		</div>
      	<div class="row">
  			<label class="col-sm-4">Cégjegyzékszám:</label>
  			<span class="col-sm-8">01-09-673448</span>
		</div>
      	<div class="row">
  			<label class="col-sm-4">Kamarai tagság:</label>
  			<span class="col-sm-8">Budapesti Kereskedelmi és Iparkamara<br/>Magyar Könyvvizsgálói Kamara</span>
		</div>
      	<div class="row">
  			<label class="col-sm-4">Telefon:</label>
  			<span class="col-sm-8">1-481-0043; Mobil: 70-9533-073</span>
		</div>
      	<div class="row">
  			<label class="col-sm-4">E-mail:</label>
  			<span class="col-sm-8">synerklz@chello.hu</span>
		</div>
      	<div class="row">
  			<label class="col-sm-4">Internet:</label>
  			<span class="col-sm-8">www.synergy-klm.hu</span>
		</div>
      </div>
    </div>
  </div>
</div>
		
    </div>
</div>
