<div ng-cloak>
	<h1 class="three-dee">Referenciáink</h1>
	<div class="row quoteContainer">
		<span class="quote pull-right">&nbsp;</span>
	</div>
	<p>
Referenciáinkat olyan kis és közepes nagyságú cégek sikeres pályázati támogatásai és hitelfelvételei fémjelzik, amelyek az ipari feldolgozásban, a lakásépítésben, a szállítmányozásban már több éves, évtizedes tapasztalattal rendelkeznek. Ezen cégeknél a sikeres hitelfelvételen kívül, javaslatot tettünk az optimális költség-gazdálkodás és a sikeres stratégiai tervezés kialakítására, a kialakítható maximálisan elérhető eredmény elérése érdekében. 
	</p>
	<p>
Több gazdaságfejlesztéssel foglalkozó hetilap szerződött cikkírói vagyunk, és rovataikban rendszeresen publikálunk pályázati tanácsadással, hitelkonstrukció kialakításával kapcsolatos cikkeket a mikro- és kisvállalkozók támogatására.
Az előző évek pályázati rendszereiben pályázó cégeink közreműködésünkkel befogadó nyilatkozatot és jelentős állami támogatást kaptak, a 2004. évben beadott pályázataink sorban (GVOP) befogadást nyertek. 
	</p>
	<p>
Magunk részéről- az ügyfeleink biztonsága érdekében- csak akkor köthetünk megbízási szerződést, amikor a pályázat elnyerésére igen komolyak (95 % felett) az esélyek, és erről cégünk előzetesen is meggyőződhetett.
Mi összekapcsoljuk a kis- és középvállalkozók tudatosan megtervezett jövőképének, és a pályázati programok felhívásaiban rejlő lehetőségeket, és bemutatjuk, hogy ezek együttesen megteremtik a vállalkozások töretlen és dinamikus fejlődését. 
	</p>
	<p class="important">
A synergy (a hatékony együttműködés) zárszó 
	</p>
	<p>
A partner és a tanácsadó cégünk közötti hatékony együttműködés (synergy) eredménye a folyamatos és sikeres hitelfelvétel és pályázati tevékenység, és az ennek kapcsán is biztosítható dinamikus cégfejlődés. A kapcsolat fő előnye, hogy a gazdasági társaságok mindig számíthatnak a sokoldalúan képzett tanácsadói háttérre. 
	</p>
</div>
