<div ng-cloak>
	<h1 class="three-dee">Pályázatok készítése, menedzselése- és figyelése</h1>
	<div class="row quoteContainer">
		<span class="quote pull-right" textillate data-in-effect="fadeInDownBig" >Az elért siker és élménye, a jó együttműködés egyik alapja.</span>
	</div>
	<p>
A pályázatkészítő tevékenységünk során a cég beruházásaihoz feltérképezzük, és a jártasságunkkal felkutatjuk a leginkább megfelelő támogatási (hazai és EU-s pályázatok, célelőirányzatok, kamattámogatások) formát, elkészítjük az olykor igen munkaigényes pályázatokat. 
	</p>
	<p>
Sok esetben a hitelkérelmi feladatok és a pályázati tevékenységek összefüggnek egymással, ezért a cél érdekében elvégezhetjük a hitel- és a pályázati konstrukció társítását, a célszerű konstrukció-optimalizálást. Igény esetén szervezzük a fenti tevékenységeket, koordináljuk a cég belső projektjét. 
	</p>
	<p>
A magyarországi vállalkozások (kis- és középvállalatok), önkormányzatok, egyetemek pályázati lehetőségeit jelenleg az a rutin határolja be, amelyet eddig szerezhettek meg a pályázati tevékenységük során. Az Európai Uniós csatlakozás során felmerül a kérdés, hogy ez a tudás vajon elégséges és megalapozott-e a várt sikerhez. 
	</p>
	<p>
Cégünk szeretné hozzásegíteni a pályázókat a hazai támogatási pénzeken túl, az eurós pénzek elnyeréséhez is.
Cégünk rendelkezik a megfelelő pályázati információkkal, az igényes referenciákkal, és minden adottsággal és készséggel (Európai Uniós pályázat szakmenedzser, Európai Uniós szakértő) ahhoz, hogy megbízásuk esetén elkészítsük a pályázatukat. A társaságunk a maga eszközrendszerével, úgy kíván hozzájárulni, a pályázati rutin megszerzéséhez, hogy igyekszik hitelesen bemutatni az EU-s pályázati lehetőségeket, és gyakorlati útmutatót (tanácsadás) is szeretne nyújtani azok számára, akik részt akarnak venni ezeken a pályázatokon. Az első lépésként -többek között- az előzetes pénzügyi vizsgálat (EPV) módszerével támogatja a pályázókat azáltal, hogy felmérheti a pályázó pályázati képességeit (feltételrendszernek való megfeleltetés és a buktatók kikerülése) is. 
	</p>
	<p>
A kis -és középvállalkozó társaságok pályázati és hitelképesség lehetőségeit (készségeiket), a pénzügyi és üzletviteli, és bevált tapasztalati módszereinkkel igen rövid időn (1-2 óra) belül, be tudjuk mérni. A fentiek alapján valamennyi cégünk támogatáshoz- és hitelhez jutott, mivel a részünkről elvégzett előzetes pénzügyi- és hitelképességi vizsgálat (EPV) feltárta a támogatás -és hiteligénylők lehetőségeit. Az évek óta készített hitel- és pályázati képesség minősítésünk (megbízásunk esetén) díjmentes, és a vállalási ár része. A pályázati díjainkat, egy átlagosnál nehezebb fokozatú -Európai Uniós, és állami társfinanszírozású- GVOP- pályázat elkészítéséhez szükséges munkaráfordítások alapján kalkuláltuk, és a sikerdíjat, egyrészt a támogatási összeg, másrészt a céggel való előzetes egyeztetés alapján alakítjuk ki, úgy hogy a kisvállalkozóknak jelentős kedvezményeket biztosítottunk. 
	</p>
	<p>
Jelentős időveszteség és felesleges fáradozás lehet a pályázók számára a pályázati munka, ameddig nem ismerik részleteiben a pályázattal kapcsolatos buktatókat is.
	</p>
	<p>
		<a class="btn btn-primary" href="mailto:synerklz@axelero.hu">Pályázati képesség mérése (Regisztráció)</a>
	</p>
</div>
