<div ng-cloak>
	<h1 class="three-dee">Sy-pályázatkészítés</h1>
	<div class="row quoteContainer">
		<span class="quote pull-right" textillate data-in-effect="fadeInDownBig" >Mint az éhezőnek a falat kenyér, olyan az idejében benyújtott, jól összeállított pályázat</span>
	</div>
	<p>
Pályázatkészítői készségeinkkel segítünk a kis-és középvállalkozóknak abban, hogy a megfelelő pályázatokhoz, megfelelően tudjanak felkészülni, és a lehető legjobb színezetben tudják bemutatni valós értékeiket. 
	</p>
	<p>
A ”pályázattal folyamatosan beruházni” jelszónk alapján az a célunk, hogy bemutassuk, hogy a cégek jövőképei lehetőséget adnak a töretlen és dinamikus fejlődésükre. Velünk jól járnak, mert díjmentesen mérjük be a pályázati-és az esetleges hitelezési készségeiket, a kifogástalan munkával, magas minőségi követelmények betartása mellett is tartani tudjuk az ár-érték arányt. A szakma iránti alázat, a szívvel-lélekkel végzett munka, és a sikeres együttműködés az a csipetnyi többlet, amellyel erőteljesen mutatjuk be a vállalkozását, ez csak eredményes lehet. A pályázati támogatások alkalmasak arra, hogy a vállalkozások verseny- képességének növeléséhez hozzájáruljanak. Öntől függ, hogy él-e a lehetőségeivel.
	</p>
	<p>
Ahogy a  mindennapi kenyerünk az élet örökkévalóságának és folytonosságának,- az újjászületésnek- a szimbóluma, a vállalkozás a megélhetés és a tartalékolás  biztosításának a bölcsője. Csak jól szabad csinálni. Elkötelezetten segítünk ebben. 
<br/>Ehhez a munkához szükség van a minőségi szaktudásra, a szakma iránti alázatra, a szívvel-lélekkel végzett munkára, és arra a csipetnyi titokra, ahogy mi csináljuk.
	</p>
	<p>
Amikor a saját vállalkozása jövőjén gondolkodik, jusson eszébe ezentúl, hogy nincs egyedül.
<br/>A cégünk filozófiája teljesen egybeesik a gondolataival, miszerint:
<br/>A” pályázattal folyamatosan beruházni” jegyében az a célunk, hogy bemutathassuk, hogy a cégek jövőképei lehetőséget adnak a töretlen és dinamikus 	fejlődésükre. 
	</p>
	<p>
A jó együttműködés garantáltan  eredményezi a sikert!
	</p>
</div>
