<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
			<!--
            <span class="hipster img-responsive img-rounded"></span>
			-->
			img
        </div>
        <div class="col-md-8">
            <h1 translate="main.title">Welcome, To Test</h1>
			<h1 textillate data-loop="true">
				<ul class="texts">
					<li data-in-effect="fadeInRightBig" data-out-effect="hinge" data-out-shuffle="true">Some Title</li>   
					<li data-in-effect="fadeInDownBig" data-out-effect="hinge" data-out-shuffle="true">Another Title</li>
					<li data-in-effect="fadeInDownBig" data-out-effect="hinge" data-out-shuffle="true">Third Title</li>
				</ul>
			</h1>
			
            <p class="lead" translate="main.subtitle">This is your test page</p>
				<span translate="main.like">If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank" translate="main.github">Github</a>!
            </p>
        </div>
    </div>
</div>
