<div ng-cloak>
	<h1 class="three-dee">Oktatás, tréning szervezése a sikeres hitelkérelem- és pályázat elkészítéséhez</h1>
	<div class="row quoteContainer">
		<span class="quote pull-right" textillate data-in-effect="fadeInDownBig" >A jó projekthez megkereshető a forrás.</span>
	</div>
	<p>
Az utóbbi időben, hazánkban is sokat változott a projektmunka kialakítása iránti érdeklődés. Ezt a lehetőséget a Synergy-KLM Kft. megkülönböztetett módon igyekszik támogatni. A banki kapcsolat kialakítása, a hitelkérelem- és a pályázati képesség megszerzése egyre inkább visszatérően jelentkezik a képzési programjainkban. Az idei évtől nyílt programjaink repertoárját jelentősen szélesítettük, a piac igényeihez és lehetőségeihez igazítottuk. Társaságunk a múltbeli tapasztalatok és új igények alapján rendszeresen napirendre tűzte a tréningek szervezésénél az alábbi témaköröket:
	</p>
	<ul>
		<li>Projekt létrehozás és finanszírozása</li>
		<li>Hitelkonstrukció kialakítása, felkészülés a banki tárgyalásra</li>
		<li>Stratégiatervezés (üzleti, fejlesztési tervezés) főbb kérdései</li>
		<li>Hitelképesség, pályázati képesség vizsgálata, a megfelelések kérdései a gazdasági társaságoknál</li>
		<li>Pénzügyi buktatók (csapdák) a kapcsolatos feladataink során, kivédésük lehetséges módozatai</li>
	</ul>
	<p>
Programjaink a projektek különböző szereplőinek, érintetteinek igényeire szabottak, célzott prezentációs csomagot biztosítunk, és átadjuk a legújabb tapasztalatainkat. A budapesti helyszínek mellett programjaink egy részét vidéken is (a főbb régiókban) megszervezzük.
Miről szól még a tréning?
A Synergy-KLM Pénzügyi Tanácsadó Kft. jövőbe mutató -igényes- megoldásokat dolgoz ki az ügyfelei számára, és testre szabott megoldásokra törekedve igyekszik az egyedi elvárásoknak megfelelően koncepciókat kidolgozni, és tréningjeinken azokat a gyakorlatba átültetetni.
Különösen fontosnak tartjuk az alábbi csoportosításokat: 
	</p>
	<div class="row">
		<div class="col-sm-6">
		<div class="subContent">
			<h3>Innováció, objektivitás és szakértelem</h3>
			<div class="subContentBody">
			<p>
Munkatársaink hazai és nemzetközi ismeretekkel és tapasztalatokkal egyaránt rendelkeznek, tanácsadóként kiemelt feladatunknak tartjuk, hogy ügyfeleinknél bemutassuk a stratégiai jövőképüket. Tanácsadóink jól ismerik, hogy nem kereshetünk "univerzális" megoldásokat ott, ahol egyedi, speciális és körültekintő módon kell eljárnunk és kellő szakmai megalapozottsággal, kell objektív véleményt formálni. 			
			</p>
			</div>
		</div>
		</div>
		<div class="col-sm-6">
		<div class="subContent">
			<h3>Bizalom, együttműködés, kezdeményezés</h3>
			<div class="subContentBody">
			<p>
Projektjeink sikere azon múlik, hogy az ügyfeleinkkel közösen kialakított koncepció a gyakorlatban megvalósul-e. Mi igyekszünk kreatívan, -kezdeményezően- a problémáikra választ találni. Kimondottan fontosnak tartjuk a tanácsadó és az ügyfél közötti bizalomra épülő együttműködést, amelynek alapja tanácsadóink megbízhatósága. Az aktuális tréningünk tematikája, oktatási-és hirdetési lapja folyamatosan lekérhető munkatársainktól. Programjainkhoz a mellékelt jelentkezési lapok visszaküldésével lehet csatlakozni.
 			</p>
			</div>
		</div>
		</div>
	</div>
	<p class="downloads">
<a class="btn btn-primary" href="docs/hirdet.doc">Hirdetési lap /Word dokumentum/</a>
<a class="btn btn-primary" href="docs/hirdet.zip">Hirdetési lap /ZIP fájl/</a>
<a class="btn btn-primary" href="docs/jelentkez.doc">Jelentkezési lap /Word dokumentum/</a>
<a class="btn btn-primary" href="docs/jelentkez.zip">Jelentkezési lap /ZIP fájl/</a>
	</p>
</div>
